@charset "utf-8";

html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url('../image/backgroundPrincipal.jpg');
    padding-top: 10px;
    margin: 0px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pagina {
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 20px 0px 0px 0px;
}

div#cabecalho {
    font-family: Arial, sans-serif;
    background: url('../image/logo2.jpg') no-repeat 600px 30px;
    padding: 10px;
}

div#cabecalho h2 {
    font-size: 30pt;
    color: #858181;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

div#cabecalho h3 {
    font-size: 15pt;
    color: #858181;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    background-color: white;
    color: black;
}

section {
    background-color: lightblue;
    padding: 1px;
}

.areas {
    background-color: white;
    margin: 30px;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    border-radius: 10px;
}

.topicos {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: lightblue;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
    color: white;
    background-color: lightblue;
    padding: 0px 0px 5px 0px;
}

footer#rodape p {
    text-align: center;
}

/* Formatação do Menu suspenso */
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    right: 200px;
    top: -20px;
}

nav#menu li {
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 0px;
    transition: background-color 1s;    
    border: 1px solid lightblue;
    border-radius: 5px;
    color: white;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu a{
    color: white;
    text-decoration: none;
}